.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;


}
.container{
    display: flex;
    align-items: center;
}
.container__imagem{
    padding: 1em;
   
}
.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    background-color: aliceblue;
    width: 60vw;

}

.container__botao{
    display: none;
}

.container__botao:checked~ .lista-menu{
    display: block;
}

.lista-menu_titulo{
    color: var(--amarelo);
}

.lista-menu_item{
    background: var(--roxo-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.lista-menu_titulo, .lista-menu_item{
    padding: 1em;
    background-color: var(--branco);
}

.titulo__cabecalho{
    display: none;
}
@media screen and (min-width: 1024px) {
    .titulo__cabecalho{
        font-size: 30px;
        font-family: var(--font-secundaria);
        color: rgb(76, 82, 79);
        display: block;
    }

    .opcoes{
        display: flex;
    }
    .opcoes__item{
        padding: 0 1em;
    }
    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }
}
    
